@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Quintessential&display=swap');

#root, body, html {
  margin: 0;
  font-family: "Quintessential", serif;
}

.artworkHolder{
  width: 100%;
  overflow: hidden;
  background-image: url("https://articles-img.sftcdn.net/t_article_cover_xl/auto-mapping-folder/sites/3/2024/12/IMG_0493.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.artworkHolder span{
  font-size: 85px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  text-shadow: 0px 0px 15px #000;
}