.suggCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  place-items: center;
  padding: 50px 30px;
}

.suggCoverCont img {
  width: 150px;
  height: 230px;
  object-fit: cover;
  border-radius: 6px;
}

.suggTxtCont {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  font-size: 1.2rem;
  width: 150px;
}
.title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.suggAuth {
  color: #666;
  font-size: 1rem;
}

.suggYear {
  margin-right: 10px;
}
