.logo{
    width: 150px;
    height: auto;
}
header{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    place-items: center;
    padding: 0 45px;
}
.searchCont{
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
}
.searchCont input{
    width: 350px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color:#59414765;
    padding: 0 10px;
    color: #594147;
}
.searchCont input::placeholder{
    color: #594147c7;
}
.searchCont input:focus{
    outline: 1px solid #594147c7;
}
.searchIcon{
    margin-left: 10px;
    color: #594147a9;
}

.filterIcon{
    color: #594147a9;
}